<!--FOOTER-->
<div id="footer">
    <div class="container">
        <div class="footer_items item1 ">
            <div class="list_item">
                <h1>Полезно за вас</h1>
                <h2>Формуляр за връщане</h2>
                <h2>Мнения за <span class="mega_span">MEGAPARTS</span> </h2>
                <h2>Регистрирай се за продавач</h2>
            </div>
            <div class="button">
                <li><a href="#">Онлайн оценка на колата ви</a></li>
            </div>
        </div>
        <div class="footer_items item2">
            <div class="list_item">
                <h1>Онлайн Пазаруване</h1>
                <h2>Общи условия на платформата</h2>
                <h2>Общи условия на MEGAPARTS Борса</h2>
                <h2>Общи условия Вендор</h2>
                <h2>Политика за използване на “бисквитки”</h2>
                <h2>Политика за защита на лични данни</h2>
            </div>
        </div>
        <div class="footer_items item3">
            <div class="list_item">
                <h1>За нас</h1>
                <h2>Представяне</h2>
                <h2>Социални мрежи</h2>
                <h2>02 437 32 48</h2>
                <h2>at@megaparts.bg</h2>
            </div>
        </div>
        <div class="footer_items item4">
            <div class="list_item">
                <div class="list-title">
                    <img src="../../frontend/assets/images/header-images/Megaparts-Logo-Light-Large.svg" alt="">
                    <span>2023 © MEGAPARTS Marketplace</span>
                </div>
                <div class="megatext">
                    <div class="mega megacars">
                        <h2><span class="text">MEGA</span>CARS</h2>
                    </div>
                    <div class="mega megad">
                        <h2><span class="text">MEGA</span>ОБЯВИ</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>