<!--NAVBAR-->
<header>
    <nav class="nav">
        <div class="container nav__container flex">
            <div class="nav__title flex">
                <div class="logo flex">
                    <img src="../../frontend/assets/images/header-images/Megaparts-Logo-Light-Large.svg"
                        alt="megaparts/logo">
                </div>
                <div class="nav__line"></div>
                <div class="megatext flex">
                    <div class="mega megacars">
                        <h2><span>mega</span>cars</h2>
                    </div>
                    <div class="mega megad">
                        <h2><span>mega</span>обяви</h2>
                    </div>
                </div>
            </div>
            <div class="nav__frame flex">
                <div class="icons flex">
                    <div class="icon">
                        <a href="#"><img src="../../frontend/assets/images/header-images/message-icon.svg"
                                alt="message/icon"></a>
                    </div>
                    <div class="icon">
                        <a href="#"><img src="../../frontend/assets/images/header-images/cart-icon.svg"
                                alt="cart/icon"></a>
                    </div>
                    <div class="icon">
                        <a href="#"><img src="../../frontend/assets/images/header-images/likes-icon.svg"
                                alt="likes/icon"></a>
                    </div>
                </div>
                <div class="nav__line"></div>
                <div class="profile">
                    <a href="../pages/login-form.html" class="flex"><img
                            src="../../frontend/assets/images/header-images/profile.svg" alt="profile/svg"><span
                            class="text">ВХОД</span></a>
                </div>
                <div class="nav__line"></div>
                <div class="socials flex">
                    <a href="#"><img src="../../frontend/assets/images/header-images/youtube.svg" alt="youtube/svg"
                            class="youtube"></a>
                    <a href="#"><img src="../../frontend/assets/images/header-images/facebook.svg" alt="facebook/svg"
                            class="facebook"></a>
                </div>
                <div class="nav__line"></div>
                <div class="phone">
                    <a href="tel:02 437 32 48" class="flex"><img
                            src="../../frontend/assets/images/header-images/phone.svg" alt="phone/svg"><span
                            class="text">02 437 32 48</span></a>
                </div>
            </div>
            <!--MOBILE NAVBAR-->
            <div class="mobile-nav-btn">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>
        </div>
    </nav>
    <!--MOBILE NAVBAR-->
    <div class="nav-mobile">
        <div class="nav-mobile__top flex">
            <div class="megatext flex">
                <div class="mega megacars">
                    <h2><span>mega</span>cars</h2>
                </div>
                <div class="mega megad">
                    <h2><span>мега</span>обяви</h2>
                </div>
            </div>
            <div class="megasocials flex">
                <div class="socials flex">
                    <a href="#"><img src="../../frontend/assets/images/header-images/youtube.svg" alt="youtube/svg"
                            class="youtube"></a>
                    <a href="#"><img src="../../frontend/assets/images/header-images/facebook.svg" alt="facebook/svg"
                            class="facebook"></a>
                </div>
                <div class="nav__line"></div>
                <div class="phone">
                    <a href="tel:02 437 32 48" class="flex"><img
                            src="../../frontend/assets/images/header-images/phone.svg" alt="phone/svg"><span
                            class="text">02 437 32 48</span></a>
                </div>
            </div>
        </div>
        <div class="nav-mobile__bottom">

            <ul class="icons flex">
                <li id="profile"><a href="#"><img src="../../frontend/assets/images/header-images/profile-mobile.svg"
                            alt="profile-mobile/svg"></a></li>

                <li id="message"><a href="#"><img
                            src="../../frontend/assets/images/header-images/message-icon-mobile.svg"
                            alt="message-mobile/svg"></a></li>

                <li id="likes"><a href="#"><img src="../../frontend/assets/images/header-images/heart-mobile.svg"
                            alt="heart-mobile/svg"></a></li>

                <li id="cart"><a href="#"><img src="../../frontend/assets/images/header-images/cart-mobile.svg"
                            alt="cart-mobile/svg"></a></li>
            </ul>

        </div>
    </div>
    <div class="nav-bottom">
        <div class="container nav-bottom__container">
            <div class="arrow arrow-left"><img src="../../frontend/assets/images/header-images/arrow-header.svg"
                    alt="arrow/svg">
            </div>
            <ul class="nav-bottom-menu flex">
                <li><a href="#" class=" btn flex" id="home"><img
                            src="../../frontend/assets/images/header-images/home-menu.svg" alt="home/svg"></a></li>
                <li><a href="#" class=" btn flex" id="autoparts"><img
                            src="../../frontend/assets/images/header-images/autoparts-menu.svg" alt="autoparts/svg">
                        <span class="text">АВТОЧАСТИ</span></a>
                </li>
                <li><a href="#" class=" btn flex" id="partexchange"><img
                            src="../../frontend/assets/images/header-images/parts-exchange-menu.svg"
                            alt="partExchange/svg">
                        <span class="text">Борса части</span></a>
                </li>
                <li><a href="#" class=" btn flex" id="autoborsa"><img
                            src="../../frontend/assets/images/header-images/autoborsa-menu.svg" alt="autoborsa/svg">
                        <span class="text">Авто борса</span></a>
                </li>
                <li><a href="#" class=" btn flex" id="sellcars"><img
                            src="../../frontend/assets/images/header-images/sellcars-menu.svg" alt="sellCars/svg">
                        <span class="text">Продава коли</span></a>
                </li>
                <li><a href="#" class=" btn flex" id="sellparts"><img
                            src="../../frontend/assets/images/header-images/sellparts-menu.svg" alt="sellparts/svg">
                        <span class="text">Продава части</span></a>
                </li>
                <li><a href="#" class=" btn flex" id="games"><img
                            src="../../frontend/assets/images/header-images/game-menu.svg" alt="game/svg">
                        <span class="text">игри</span></a>
                </li>
                <li><a href="#" class=" btn flex" id="insurance"><img
                            src="../../frontend/assets/images/header-images/healtcare-menu.svg" alt="insurance/svg">
                        <span class="text">застраховка</span></a>
                </li>
            </ul>
            <div class="arrow arrow-right active"><img src="../../frontend/assets/images/header-images/arrow-header.svg"
                    alt="arrow/svg"></div>

        </div>
    </div>

</header>