@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text-color);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  pointer-events: none;
  -o-object-fit: cover;
     object-fit: cover;
}

li {
  list-style: none;
}

input {
  border: none;
  outline: none;
  background: none;
}

button {
  background: none;
  border: none;
  outline: none;
}

/*=============== VARIABLES CSS ===============*/
:root {
  /*============Font and Typography*===============*/
  --body-font: "Roboto", sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: .6rem;
  --smaller-font-size: .5rem;
  /*============Transition*===============*/
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 1350px;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*===========HHEADER - NAVBAR=============*/
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  /*============nav-top============*/
  /*============nav-botom==============*/
  /*===========nav-mobile============*/
}
header .nav {
  background: #19242D;
  padding: 0.95rem 6px;
}
header .nav__container {
  justify-content: space-between;
}
header .nav__line {
  width: 0.0625rem;
  height: 2rem;
  background-color: #394957;
}
header .nav__title .logo {
  padding-right: 1.56rem;
}
header .nav__title .logo img {
  width: 13.57731rem;
  height: 2.20756rem;
}
header .nav__title .megatext {
  padding-left: 1.56rem;
  text-transform: uppercase;
  gap: 1.25rem;
  color: #fff;
  font-weight: 900;
  font-style: italic;
  font-size: 1.25rem;
  opacity: 0.6;
}
header .nav__title .megatext .megacars span {
  color: #DC5426;
}
header .nav__title .megatext .megad span {
  color: #E59D48;
}
header .nav__frame .icons {
  gap: 0.94rem;
  margin-right: 1.56rem;
}
header .nav__frame .icons icon img {
  width: 1.375rem;
}
header .nav__frame .profile a {
  color: #fff;
  gap: 0.62rem;
}
header .nav__frame .profile a img {
  width: 0.72888rem;
  height: 0.9375rem;
}
header .nav__frame .profile a .text {
  font-size: 1.25rem;
  font-weight: 700;
}
header .nav__frame .socials {
  gap: 0.75rem;
}
header .nav__frame .socials a {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .nav__frame .profile,
header .nav__frame .socials {
  margin: 0 1.56rem;
}
header .nav__frame .phone {
  margin-left: 1.56rem;
}
header .nav__frame .phone a {
  gap: 0.31rem;
  color: #fff;
}
header .nav__frame .phone a img {
  width: 1.12481rem;
  height: 1.125rem;
  flex-shrink: 0;
}
header .nav__frame .phone a .text {
  font-size: 1.25rem;
  font-weight: 700;
}
header .nav-bottom {
  background: #202D39;
  padding: 1.25rem 6px;
}
header .nav-bottom .container {
  position: relative;
  overflow-x: auto;
}
header .nav-bottom .container::-webkit-scrollbar {
  display: none;
}
header .nav-bottom .nav-bottom-menu {
  gap: 0.94rem;
  width: -moz-max-content;
  width: max-content;
}
header .nav-bottom .nav-bottom-menu li .btn {
  padding: 0.3125rem 0.9375rem;
  background: #008AEE;
  border-radius: 1.5625rem;
  gap: 0.62rem;
  align-items: center;
}
header .nav-bottom .nav-bottom-menu li .btn img {
  width: 1.04538rem;
  height: 0.9375rem;
  display: flex;
  margin-bottom: 1.1px;
}
header .nav-bottom .nav-bottom-menu li .btn .text {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 500;
  text-transform: uppercase;
}
header .nav-bottom .nav-bottom-menu li .btn#home {
  padding: 0.5rem 0.9375rem;
}
header .nav-bottom .nav-bottom-menu li .btn#partexchange {
  background: #5FB865;
}
header .nav-bottom .nav-bottom-menu li .btn#autoborsa {
  background: #63C7C9;
}
header .nav-bottom .nav-bottom-menu li .btn#sellcars {
  background: #DC5426;
}
header .nav-bottom .nav-bottom-menu li .btn#sellparts {
  background: #E59D48;
}
header .nav-bottom .nav-bottom-menu li .btn#games {
  background: #BD5FE9;
}
header .nav-bottom .nav-bottom-menu li .btn#insurance {
  background: none;
  border: 1.5px solid #DC5426;
}
header .nav-bottom .arrow {
  width: 50px;
  height: 100%;
  background: red;
  position: absolute;
  display: flex;
  align-items: center;
}
header .nav-bottom .arrow img {
  width: 0.6rem;
}
header .nav-bottom .arrow.arrow-right {
  justify-content: right;
  top: 0;
  right: 0;
  background: linear-gradient(97deg, rgba(40, 116, 183, 0) 7%, #202D39 60%);
  display: none;
}
header .nav-bottom .arrow.arrow-left {
  display: none;
  background: linear-gradient(270deg, rgba(40, 116, 183, 0) 7%, #202D39 80%);
}
header .nav-bottom .arrow.arrow-left img {
  transform: rotate(-180deg);
}
header .nav-bottom .arrow.arrow-left.active,
header .nav-bottom .arrow.arrow-right.active {
  display: flex;
}
header .mobile-nav-btn {
  width: 2rem;
  height: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  cursor: pointer;
  display: none;
}
header .mobile-nav-btn .line {
  width: 100%;
  height: 3.6px;
  background: #fff;
  border-radius: 15px;
}
header .mobile-nav-btn .line:nth-child(1) {
  width: 80%;
  transition: all 0.6s ease-in-out;
}
header .mobile-nav-btn .line:nth-child(2) {
  transition: all 0.3s ease-in-out;
}
header .mobile-nav-btn .line:nth-child(3) {
  width: 50%;
  transition: all 0.6s ease-in-out;
}
header .mobile-nav-btn.active .line:nth-child(2) {
  opacity: 0;
  transform: scale(0);
}
header .mobile-nav-btn.active .line:nth-child(1) {
  width: 100%;
  transform: rotate(-45deg) translateY(10px) translateX(2px);
}
header .mobile-nav-btn.active .line:nth-child(3) {
  width: 100%;
  transform: rotate(45deg) translateY(-15px) translateX(-3px);
}
header .nav-mobile__top {
  background: #19242D;
  flex-direction: column;
  padding: 1.2rem 0;
  transform: translateX(-200%);
  display: none;
  transition: all 0.3s ease-in-out;
}
header .nav-mobile__top .megatext {
  width: 100%;
  text-transform: uppercase;
  justify-content: space-evenly;
  color: #fff;
  font-weight: 900;
  font-style: italic;
  font-size: 0.85rem;
  opacity: 0.6;
}
header .nav-mobile__top .megatext .megacars span {
  color: #DC5426;
}
header .nav-mobile__top .megatext .megad span {
  color: #E59D48;
}
header .nav-mobile__top .megasocials {
  width: 100%;
  justify-content: space-evenly;
}
header .nav-mobile__top .megasocials .socials {
  margin-left: 2.6rem;
}
header .nav-mobile__top .megasocials .phone {
  margin-right: 1.2rem;
}
header .nav-mobile__top .megasocials .phone a {
  gap: 0.31rem;
  color: #fff;
}
header .nav-mobile__top .megasocials .phone a img {
  width: 1.12481rem;
  height: 1.125rem;
  flex-shrink: 0;
}
header .nav-mobile__top .megasocials .phone a .text {
  font-size: 1.25rem;
  font-weight: 700;
}
header .nav-mobile__bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-top: 1.5px solid rgba(167, 167, 167, 0.295);
  padding: 1.3rem 0;
  display: none;
}
header .nav-mobile__bottom .icons {
  width: 60%;
  gap: 3.6rem;
}
header .nav-mobile__bottom .icons li {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .nav-mobile__bottom .icons li img {
  width: 1.6rem;
}
header .nav-mobile__bottom .icons #profile img {
  width: 1.3rem;
}
header .nav-mobile.active .nav-mobile__top {
  transform: translateY(0);
  display: block;
}

/*==============SearchBar==============*/
#search {
  padding-top: 150px;
  padding-bottom: 1.56rem;
  background: #008AEE;
}
#search .container {
  margin-top: 1.56rem;
}
#search .container .wrapper {
  padding: 1.25rem 1.56rem;
  border-radius: 1.56rem;
  background: #FEFEFE;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.56rem;
}
#search .container .wrapper .search__title {
  justify-content: start;
  align-items: center;
  gap: 0.94rem;
}
#search .container .wrapper .search__title .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
#search .container .wrapper .search__title .icon img {
  width: 1.125rem;
  height: 1.125rem;
}
#search .container .wrapper .search__title .text {
  color: #19242D;
  font-size: 1.625rem;
  font-weight: 700;
}
#search .container .wrapper .search-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
}
#search .container .wrapper .search-form .search-input {
  width: 100%;
  padding: 1rem;
  border-radius: 1.5625rem;
  border: 1px solid #008AEE;
  font-size: 1.25rem;
  font-family: var(--body-font);
}
#search .container .wrapper .search-form .search-input::-moz-placeholder {
  font-family: var(--body-font);
}
#search .container .wrapper .search-form .search-input::placeholder {
  font-family: var(--body-font);
}
#search .container .wrapper .search-form .buttons {
  gap: 0.6rem;
}
#search .container .wrapper .search-form .buttons .filters-btn {
  display: none;
  width: 1.3rem;
  height: 1.3rem;
  flex-shrink: 0;
  cursor: pointer;
}
#search .container .wrapper .search-form .buttons .search-btn {
  width: 167px;
  padding: 0.78125rem 1.875rem;
  border-radius: 1.5625rem;
  background: #008AEE;
  font-size: 1.625rem;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}
#search .container .wrapper .filters {
  gap: 0.63rem;
}
#search .container .wrapper .filters li .filter {
  padding: 0.38rem 1.38rem;
  font-size: 1.125rem;
  color: #19242D;
  font-weight: 500;
  border-radius: 1.5625rem;
}
#search .container .wrapper .filters li #all-filter {
  background: #008AEE;
  color: #fff;
  border: 1px solid #008AEE;
}
#search .container .wrapper .filters li #autoparts-filter {
  border: 1px solid #008AEE;
}
#search .container .wrapper .filters li #borsaparts-filter {
  border: 1px solid #5FB865;
}
#search .container .wrapper .filters li #autoborsa-filter {
  border: 1px solid #63C7C9;
}
#search .container .wrapper .filters li #sellcars-filter {
  border: 1px solid #DC5426;
}
#search .container .wrapper .filters li #sellparts-filter {
  border: 1px solid #E59D48;
}

/*=============Slide=============*/
#slide-show .swiper {
  width: 100%;
  height: 100%;
}
#slide-show .swiper-wrapper {
  display: flex;
}
#slide-show .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#slide-show .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*====================Info=================*/
#info {
  padding: 1.56rem 0rem 2.63rem 0rem;
}
#info .info-container {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
#info .info-container .info-item {
  width: 25%;
  gap: 0.94rem;
  display: flex;
}
#info .info-container .info-item .image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
}
#info .info-container .info-item .info-text {
  gap: 0.5rem;
}
#info .info-container .info-item .info-text .title {
  color: #19242D;
  font-size: 0.8125rem;
  font-weight: 700;
}
#info .info-container .info-item .info-text .text {
  color: #777;
  font-family: Exo 2;
  font-size: 0.8125rem;
  font-weight: 500;
}

/*================Autoparts================*/
#autoparts-section .container {
  gap: 2rem;
}
#autoparts-section .container .autoparts-title {
  width: 25%;
  padding: 1.56rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.75575rem;
  flex-shrink: 0;
  background: #008AEE;
  border-radius: 1.5625rem;
  border: 2px solid #008AEE;
  background: #008AEE;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}
#autoparts-section .container .autoparts-title .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3125rem;
}
#autoparts-section .container .autoparts-title .title img {
  width: 2.5rem;
  height: 2.5rem;
}
#autoparts-section .container .autoparts-title .title .text {
  color: #FFF;
  font-size: 1.625rem;
  font-weight: 700;
}
#autoparts-section .container .autoparts-title .info {
  align-self: stretch;
  color: #EDEDED;
  text-align: center;
  font-size: 1rem;
}
#autoparts-section .container .autoparts-title a {
  display: flex;
  padding: 0.3125rem 0.9375rem;
  border-radius: 2.06413rem;
  background: #FFF;
  align-items: center;
  justify-content: center;
  gap: 0.9rem;
  flex-direction: row-reverse;
}
#autoparts-section .container .autoparts-title a .text {
  color: #008AEE;
  font-size: 1.125rem;
  font-weight: 700;
}
#autoparts-section .container .slideshow-wrapper {
  width: 75%;
  position: relative;
}
#autoparts-section .container .slideshow-wrapper .title {
  color: #19242D;
  font-size: 1.125rem;
  font-weight: 700;
  align-self: self-start;
  margin-bottom: 1rem;
}
#autoparts-section .container .slideshow-wrapper .swiper-wrapper .swiper-slide {
  display: flex;
  gap: 2rem;
  align-self: self-start;
}
#autoparts-section .container .slideshow-wrapper .swiper-wrapper .swiper-slide .product .image {
  width: 100%;
}
#autoparts-section .container .slideshow-wrapper .swiper-wrapper .swiper-slide .product .product-name h2 {
  color: #19242D;
  font-size: 0.913rem;
  font-weight: 700;
}
#autoparts-section .container .slideshow-wrapper .swiper-wrapper .swiper-slide .product .product-price {
  justify-content: space-between;
}
#autoparts-section .container .slideshow-wrapper .swiper-wrapper .swiper-slide .product .product-price .product-cat {
  color: #999;
  font-size: 0.78256rem;
  font-weight: 400;
}
#autoparts-section .container .slideshow-wrapper .swiper-wrapper .swiper-slide .product .product-price .price {
  color: #5FB865;
  text-align: right;
  font-size: 1rem;
  font-weight: 700;
}
#autoparts-section .container .slideshow-wrapper #swiper-btn {
  position: absolute;
  width: 10%;
  height: 100%;
  background: linear-gradient(272deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 35%, rgb(255, 255, 255) 75%);
  top: 0;
  z-index: 3;
}
#autoparts-section .container .slideshow-wrapper #swiper-btn:nth-child(2) {
  right: 0;
  background: linear-gradient(97deg, rgba(255, 255, 255, 0) 18%, rgba(255, 255, 255, 0.6418942577) 53%, rgb(255, 255, 255) 87%);
}

/*=================Autoborsa================*/
#autoborsa-section {
  margin-top: 5.1rem;
}
#autoborsa-section .container {
  gap: 2rem;
  flex-direction: row-reverse;
}
#autoborsa-section .container .autoborsa-title {
  width: 25%;
  padding: 1.56rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.75575rem;
  flex-shrink: 0;
  border-radius: 1.5625rem;
  border: 2px solid #5FB865;
  background: #5FB865;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}
#autoborsa-section .container .autoborsa-title .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3125rem;
}
#autoborsa-section .container .autoborsa-title .title img {
  width: 2.5rem;
  height: 2.5rem;
}
#autoborsa-section .container .autoborsa-title .title .text {
  color: #FFF;
  font-size: 1.625rem;
  font-weight: 700;
}
#autoborsa-section .container .autoborsa-title .info {
  align-self: stretch;
  color: #EDEDED;
  text-align: center;
  font-size: 1rem;
}
#autoborsa-section .container .autoborsa-title a {
  display: flex;
  padding: 0.3125rem 0.9375rem;
  border-radius: 2.06413rem;
  background: #FFF;
  align-items: center;
  justify-content: center;
  gap: 0.9rem;
  flex-direction: row-reverse;
}
#autoborsa-section .container .autoborsa-title a .text {
  color: #5FB865;
  font-size: 1.125rem;
  font-weight: 700;
}
#autoborsa-section .container .slideshow-wrapper {
  width: 75%;
  position: relative;
}
#autoborsa-section .container .slideshow-wrapper .title {
  color: #19242D;
  font-size: 1.125rem;
  font-weight: 700;
  align-self: self-start;
  margin-bottom: 1rem;
}
#autoborsa-section .container .slideshow-wrapper .swiper-wrapper .swiper-slide {
  display: flex;
  gap: 2rem;
  align-self: self-start;
}
#autoborsa-section .container .slideshow-wrapper .swiper-wrapper .swiper-slide .product .image {
  width: 100%;
}
#autoborsa-section .container .slideshow-wrapper .swiper-wrapper .swiper-slide .product .product-name h2 {
  color: #19242D;
  font-size: 0.913rem;
  font-weight: 700;
}
#autoborsa-section .container .slideshow-wrapper .swiper-wrapper .swiper-slide .product .product-name h2 span.product-type {
  text-transform: uppercase;
  font-weight: bolder;
}
#autoborsa-section .container .slideshow-wrapper .swiper-wrapper .swiper-slide .product .product-name h2 span.product-type.product-buy {
  color: #5FB865;
}
#autoborsa-section .container .slideshow-wrapper .swiper-wrapper .swiper-slide .product .product-name h2 span.product-type.product-sudjestion {
  color: #008AEE;
}
#autoborsa-section .container .slideshow-wrapper .swiper-wrapper .swiper-slide .product .product-price {
  justify-content: space-between;
}
#autoborsa-section .container .slideshow-wrapper .swiper-wrapper .swiper-slide .product .product-price .product-cat {
  color: #999;
  font-size: 0.78256rem;
  font-weight: 400;
}
#autoborsa-section .container .slideshow-wrapper .swiper-wrapper .swiper-slide .product .product-price .price {
  color: #5FB865;
  text-align: right;
  font-size: 1rem;
  font-weight: 700;
}

/*=================Services*================*/
.services {
  margin: 5.01rem 0rem 5.44rem 0rem;
  gap: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.services__top {
  width: 100%;
}
.services__top .container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.services__top .container .service {
  width: 25%;
  height: -moz-max-content;
  height: max-content;
}
.services__top .container .service .service-title {
  padding: 1.56rem;
  height: 16.9375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.75575rem;
  flex-shrink: 0;
  border-radius: 1.5625rem;
  border: 2px solid #63C7C9;
  background: #63C7C9;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}
.services__top .container .service .service-title .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3125rem;
}
.services__top .container .service .service-title .title img {
  width: 2.5rem;
  height: 2.5rem;
}
.services__top .container .service .service-title .title .text {
  color: #FFF;
  font-size: 1.625rem;
  font-weight: 700;
}
.services__top .container .service .service-title .info {
  align-self: stretch;
  color: #EDEDED;
  text-align: center;
  font-size: 1rem;
}
.services__top .container .service .service-title .btn {
  display: flex;
  padding: 0.3125rem 0.9375rem;
  border-radius: 2.06413rem;
  background: #FFF;
  align-items: center;
  justify-content: center;
  gap: 0.9rem;
  flex-direction: row-reverse;
}
.services__top .container .service .service-title .btn .text {
  color: #63C7C9;
  font-size: 1.125rem;
  font-weight: 700;
}
.services__top .container .service.service-2 .service-title {
  border: 2px solid #DC5426;
  background: #DC5426;
}
.services__top .container .service.service-2 .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.6rem;
}
.services__top .container .service.service-2 .buttons .btn .text {
  color: #DC5426;
}
.services__top .container .service.service-2 .buttons .small-link {
  color: #FFF;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.services__top .container .service.service-3 .service-title {
  border: 2px solid #E59D48;
  background: #E59D48;
}
.services__top .container .service.service-3 .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.6rem;
}
.services__top .container .service.service-3 .buttons .btn .text {
  color: #E59D48;
}
.services__top .container .service.service-3 .buttons .small-link {
  color: #FFF;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.services__top .container .service.service-4 .service-title {
  border: 2px solid #BD5FE9;
  background: #BD5FE9;
}
.services__top .container .service.service-4 .btn .text {
  color: #BD5FE9;
}
.services__bottom {
  width: 100%;
}
.services__bottom .container {
  display: flex;
  gap: 2rem;
}
.services__bottom .container .service {
  display: flex;
  width: 23%;
  padding: 0.9375rem;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  border-radius: 1.5625rem;
  border: 2px solid #DC5426;
  background: #FFF;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}
.services__bottom .container .service .service-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.62rem;
}
.services__bottom .container .service .service-title .icon {
  width: 1.3rem;
  height: 1.3rem;
}
.services__bottom .container .service .service-title .text {
  color: #DC5426;
  font-size: 1.25rem;
  font-weight: 700;
}
.services__bottom .container .service .service-info {
  align-self: stretch;
  color: #999;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}
.services__bottom .container .service.service-2 {
  border: 2px solid #5FB865;
}
.services__bottom .container .service.service-2 .service-title .text {
  color: #5FB865;
}
.services__bottom .container .service.service-3 {
  border: 2px solid #008AEE;
}
.services__bottom .container .service.service-3 .service-title .text {
  color: #008AEE;
}
.services__bottom .container .service.service-4 {
  border: 2px solid #0043EE;
}
.services__bottom .container .service.service-4 .service-title .text {
  color: #0043EE;
}

/*==================Tetominals=========*/
#testominals {
  margin-bottom: 6rem;
}
#testominals .container {
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0;
}
#testominals .testominals_container {
  position: relative;
  overflow: visible;
}
#testominals .testominals_container .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
#testominals .testominals_container .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 70vmin;
  height: 100%;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  border-radius: 1.5625rem;
  filter: blur(4px);
  background: #e3eff8;
}
#testominals .testominals_container .swiper-slide .testominalBox {
  display: flex;
  width: 100%;
  height: 20rem;
  padding: 1.56rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
#testominals .testominals_container .swiper-slide .testominalBox .content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.25rem;
  width: 100%;
  margin-bottom: 12px;
}
#testominals .testominals_container .swiper-slide .testominalBox .content-container .quote {
  width: 1.79106rem;
  height: 1.625rem;
}
#testominals .testominals_container .swiper-slide .testominalBox .content-container .content {
  color: #19242D;
  text-align: center;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 500;
}
#testominals .testominals_container .swiper-slide .testominalBox .profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.62rem;
}
#testominals .testominals_container .swiper-slide .testominalBox .profile .profile-img {
  width: 2.375rem;
  height: 2.375rem;
  border-radius: 50%;
  overflow: hidden;
}
#testominals .testominals_container .swiper-slide .testominalBox .profile .profile-info {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.22rem;
}
#testominals .testominals_container .swiper-slide .testominalBox .profile .profile-info .name {
  color: #008AEE;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 700;
}
#testominals .testominals_container .swiper-slide .testominalBox .profile .profile-info .stars {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}
#testominals .testominals_container .swiper-slide .testominalBox .profile .profile-info .stars img {
  width: 0.78644rem;
  height: 0.75rem;
}
#testominals .testominals_container .swiper-slide-active {
  filter: blur(0px);
  background: #fff;
}
#testominals .testominals_container .swiper-slide-shadow-left,
#testominals .testominals_container .swiper-slide-shadow-right {
  background-image: none;
}

/*============MAp*================*/
#map {
  margin-bottom: 7.44rem;
}
#map .container .image-container {
  position: relative;
}
#map .container .image-container .vector-container {
  position: absolute;
}
#map .container .image-container .vector-container .vector {
  width: 6vmin;
  height: 6vmin;
  border-radius: 50%;
  background: #008AEE;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.3));
  padding: 1vmin;
}
#map .container .image-container .vector-container .vector::after {
  content: "";
  width: 2vmin;
  height: 2vmin;
  background: #008AEE;
  position: absolute;
  bottom: -1vmin;
  left: 50%;
  transform: translateX(-50%);
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
          clip-path: polygon(50% 100%, 0 0, 100% 0);
}
#map .container .image-container .vector-container#sofia {
  top: 36%;
  left: 13.9%;
}
#map .container .image-container .vector-container#varna {
  display: flex;
  justify-content: end;
  align-self: flex-end;
  top: 22.1%;
  right: 8.8%;
}

/*==============Fotter==============*/
#footer {
  width: 100%;
  background-color: #202D39;
}
#footer .container {
  display: flex;
  gap: 2rem;
  padding: 2.19rem 0rem 5rem 0rem;
}
#footer .container .footer_items.item1 {
  padding: 0;
  display: flex;
  justify-content: space-between;
  background: none;
}
#footer .container .footer_items.item1 .list_item {
  width: 100%;
  padding: 0.9375rem;
  background: #19242D;
  border-radius: 0.625rem;
}
#footer .container .footer_items.item1 .button {
  width: 100%;
  padding: 0.9375rem;
  background: #19242D;
  border-radius: 0.625rem;
  text-align: center;
}
#footer .container .footer_items.item1 .button li a {
  color: #5FB865;
  font-family: Exo 2;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#footer .container .footer_items {
  display: flex;
  flex-direction: column;
  padding: 0.9375rem;
  align-items: flex-start;
  gap: 0.94rem;
  border-radius: 0.625rem;
  background: #19242D;
  width: 24%;
}
#footer .container .footer_items .list_item {
  display: flex;
  flex-direction: column;
  gap: 0.94rem;
}
#footer .container .footer_items .list_item h1 {
  color: #FFF;
  font-family: Exo 2;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#footer .container .footer_items .list_item h2 {
  color: #FFF;
  font-family: Exo 2;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#footer .container .footer_items .list_item h2 .mega_span {
  color: #FFF;
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#footer .container .footer_items.item4 {
  display: flex;
  align-items: center;
}
#footer .container .footer_items.item4 .list_item {
  height: 100%;
  display: flex;
  justify-content: space-between;
}
#footer .container .footer_items.item4 .list_item .list-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footer .container .footer_items.item4 .list_item .list-title img {
  width: 13.57731rem;
  height: 2.20756rem;
}
#footer .container .footer_items.item4 .list_item .list-title span {
  color: #999;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 500;
}
#footer .container .footer_items.item4 .list_item .megatext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.62rem;
}
#footer .container .footer_items.item4 .list_item .megatext .mega h2 {
  font-size: 1.5625rem;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
  opacity: 0.6;
}
#footer .container .footer_items.item4 .list_item .megatext .megacars .text {
  color: #DC5426;
}
#footer .container .footer_items.item4 .list_item .megatext .megad .text {
  color: #E59D48;
}

/*=====================MediaQueries==================*/
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (max-width: 1200px) {
  header .nav {
    padding: 1rem;
  }
  header .nav__frame {
    display: none;
  }
  header .mobile-nav-btn {
    display: flex;
  }
  header .nav-bottom .container .arrow {
    background: transparent;
  }
  header .nav-bottom .container .arrow img {
    display: none;
  }
  header .nav-mobile__top .megatext {
    display: none;
  }
  header .nav-mobile__bottom {
    display: flex;
  }
  #search {
    padding: 150px 1rem 1.56rem 1rem;
  }
  #search .filters {
    display: none;
  }
  #search .container .wrapper .search-form .buttons .filters-btn {
    display: block;
  }
  #info .info-container {
    gap: 2rem;
  }
  #info .info-container .info-item {
    width: 80%;
  }
  #autoparts-section {
    padding: 0rem 3rem;
  }
  #autoparts-section .container {
    flex-direction: column;
  }
  #autoparts-section .container .slideshow-wrapper {
    width: 100%;
  }
  #autoparts-section .container .autoparts-title {
    width: 100%;
  }
  #autoborsa-section {
    padding: 0rem 3rem;
  }
  #autoborsa-section .container {
    flex-direction: column;
  }
  #autoborsa-section .container .autoborsa-title {
    width: 100%;
  }
  #autoborsa-section .container .slideshow-wrapper {
    width: 100%;
  }
  #footer {
    padding: 2.19rem 0rem 5.3rem 0rem;
  }
  #footer .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #footer .container .footer_items {
    width: 80%;
  }
  .services__top .container {
    flex-wrap: wrap;
    width: 70%;
  }
  .services__top .container .service {
    width: 40%;
  }
  .services__bottom .container {
    width: 80%;
    flex-direction: column;
  }
  .services__bottom .container .service {
    width: 100%;
  }
}
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (max-width: 540px) {
  header .nav__title .megatext {
    display: none;
  }
  header .nav__title .logo img {
    width: 12rem;
    height: 2rem;
  }
  header .nav__line {
    display: none;
  }
  header .nav-mobile__top .megatext {
    display: flex;
  }
  header .mobile-nav-btn {
    height: 1.4rem;
  }
  header .mobile-nav-btn .line {
    height: 3px;
  }
  #search {
    padding: 150px 1rem 1.56rem 1rem;
  }
  #search .container .wrapper {
    padding: 1.2rem 1.5rem;
    gap: 1rem;
  }
  #search .container .wrapper .search__title .text {
    font-size: 1.3rem;
  }
  #search .container .wrapper .search__title .icon img {
    width: 1rem;
    height: 1rem;
  }
  #search .container .wrapper .search-form {
    flex-direction: column;
  }
  #search .container .wrapper .search-form .search-input {
    padding: 0.5rem 1rem;
    align-self: self-start;
  }
  #search .container .wrapper .search-form .search-input::-moz-placeholder {
    font-size: 1rem;
  }
  #search .container .wrapper .search-form .search-input::placeholder {
    font-size: 1rem;
  }
  #search .container .wrapper .search-form .buttons {
    width: 100%;
    align-self: self-start;
    justify-content: space-between;
  }
  #search .container .wrapper .search-form .buttons .filters-btn {
    width: 1rem;
    height: 1rem;
  }
  #search .container .wrapper .search-form .buttons .search-btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
  #info .info-container .info-item:nth-child(2) {
    flex-direction: row-reverse;
  }
  #info .info-container .info-item:nth-child(4) {
    flex-direction: row-reverse;
  }
  .services__top .container {
    flex-wrap: nowrap;
    width: 80%;
    flex-direction: column;
  }
  .services__top .container .service {
    width: 100%;
  }
  #autoparts-section #swiper-btn {
    background: transparent;
  }
}
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
.toast {
  position: absolute;
  top: 25px;
  right: 30px;
  border-radius: 12px;
  background: #fff;
  padding: 20px 35px 20px 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-left: 6px solid #4070f4;
  overflow: hidden;
  transform: translateX(calc(100% + 30px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.toast.active {
  transform: translateX(0%);
}

.toast .toast-content {
  display: flex;
  align-items: center;
}

.toast-content .check {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  background-color: #4070f4;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
}

.toast-content .message {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.message .text {
  font-size: 20px;
  font-weight: 400;
  color: #666666;
}

.message .text.text-1 {
  font-weight: 600;
  color: #333;
}

.toast .close {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.7;
}

.toast .close:hover {
  opacity: 1;
}

.toast .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: #ddd;
}

.toast .progress:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #4070f4;
}

.progress.active:before {
  animation: progress 5s linear forwards;
}

@keyframes progress {
  100% {
    right: 100%;
  }
}
button {
  padding: 12px 20px;
  font-size: 20px;
  outline: none;
  border: none;
  background-color: #4070f4;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #0e4bf1;
}

.toast.active ~ button {
  pointer-events: none;
}

/*===========Dashboard=============*//*# sourceMappingURL=style.css.map */