/*=================Autoborsa================*/
#autoborsa-section {
    margin-top: 5.1rem;

    .container {
        gap: 2rem;
        flex-direction: row-reverse;

        .autoborsa-title {
            width: 25%;
            padding: 1.56rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1.75575rem;
            flex-shrink: 0;


            border-radius: 1.5625rem;
            border: 2px solid color(--green);
            background: color(--green);
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);

            .title {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.3125rem;

                img {
                    width: 2.5rem;
                    height: 2.5rem;
                }

                .text {
                    color: #FFF;
                    font-size: 1.625rem;
                    font-weight: 700;
                }
            }

            .info {
                align-self: stretch;
                color: #EDEDED;
                text-align: center;
                font-size: 1rem;
            }

            a {

                display: flex;
                padding: 0.3125rem 0.9375rem;
                border-radius: 2.06413rem;
                background: #FFF;
                align-items: center;
                justify-content: center;
                gap: .9rem;
                flex-direction: row-reverse;



                .text {
                    color: color(--green);
                    font-size: 1.125rem;
                    font-weight: 700;
                }
            }
        }


        .slideshow-wrapper {
            width: 75%;
            position: relative;

            .title {
                color: color(--bg-primary-color);
                font-size: 1.125rem;
                font-weight: 700;
                align-self: self-start;
                margin-bottom: 1rem;
            }


            .swiper-wrapper {

                .swiper-slide {
                    display: flex;
                    gap: 2rem;
                    align-self: self-start;


                    .product {
                        .image {
                            width: 100%;
                        }

                        .product-name {
                            h2 {
                                color: color(--bg-primary-color);
                                font-size: 0.913rem;
                                font-weight: 700;
                            }
                        }

                        .product-price {
                            justify-content: space-between;

                            .product-cat {
                                color: #999;
                                font-size: 0.78256rem;
                                font-weight: 400;
                            }

                            .price {
                                color: #5FB865;
                                text-align: right;
                                font-size: 1rem;
                                font-weight: 700;
                            }
                        }
                    }
                }

            }
        }


    }
}