/*=================Services*================*/
.services {
    margin: 5.01rem 0rem 5.44rem 0rem;
    gap: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__top {
        width: 100%;

        .container {
            display: flex;
            justify-content: space-between;
            gap: 2rem;

            .service {
                width: 25%;
                height: max-content;

                .service-title {
                    padding: 1.56rem;
                    height: 16.9375rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    gap: 1.75575rem;
                    flex-shrink: 0;


                    border-radius: 1.5625rem;
                    border: 2px solid color(--ocean-green);
                    background: color(--ocean-green);
                    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);

                    .title {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 0.3125rem;

                        img {
                            width: 2.5rem;
                            height: 2.5rem;
                        }

                        .text {
                            color: #FFF;
                            font-size: 1.625rem;
                            font-weight: 700;
                        }
                    }

                    .info {
                        align-self: stretch;
                        color: #EDEDED;
                        text-align: center;
                        font-size: 1rem;
                    }


                    .btn {

                        display: flex;
                        padding: 0.3125rem 0.9375rem;
                        border-radius: 2.06413rem;
                        background: #FFF;
                        align-items: center;
                        justify-content: center;
                        gap: .9rem;
                        flex-direction: row-reverse;



                        .text {
                            color: color(--ocean-green);
                            font-size: 1.125rem;
                            font-weight: 700;
                        }

                    }

                }

                &.service-2 {
                    .service-title {
                        border: 2px solid color(--orange);
                        background: color(--orange);
                    }

                    .buttons {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        gap: 0.6rem;

                        .btn {
                            .text {
                                color: color(--orange);
                            }
                        }

                        .small-link {
                            color: #FFF;
                            font-family: Roboto;
                            font-size: 1rem;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;


                        }
                    }
                }

                &.service-3 {
                    .service-title {
                        border: 2px solid color(--yellow);
                        background: color(--yellow);
                    }

                    .buttons {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        gap: 0.6rem;

                        .btn {
                            .text {
                                color: color(--yellow);
                            }
                        }

                        .small-link {
                            color: #FFF;
                            font-family: Roboto;
                            font-size: 1rem;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;


                        }
                    }
                }

                &.service-4 {
                    .service-title {
                        border: 2px solid color(--purple);
                        background: color(--purple);
                    }



                    .btn {
                        .text {
                            color: color(--purple);
                        }
                    }



                }
            }


        }
    }

    &__bottom {
        width: 100%;

        .container {
            display: flex;
            gap: 2rem;

            .service {
                display: flex;
                width: 23%;
                padding: 0.9375rem;
                flex-direction: column;
                align-items: center;
                gap: 0.625rem;
                flex-shrink: 0;

                border-radius: 1.5625rem;
                border: 2px solid color(--orange);
                background: #FFF;
                box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);

                .service-title {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 0.62rem;

                    .icon {
                        width: 1.3rem;
                        height: 1.3rem;
                    }

                    .text {
                        color: color(--orange);
                        font-size: 1.25rem;
                        font-weight: 700;
                    }
                }

                .service-info {
                    align-self: stretch;
                    color: #999;
                    text-align: center;
                    font-size: 1rem;
                    font-weight: 500;
                }

                &.service-2 {
                    border: 2px solid color(--green);

                    .service-title {
                        .text {
                            color: color(--green);
                        }
                    }
                }

                &.service-3 {
                    border: 2px solid color(--primary-color);

                    .service-title {
                        .text {
                            color: color(--primary-color);
                        }
                    }
                }

                &.service-4 {
                    border: 2px solid color(--dark-blue);

                    .service-title {
                        .text {
                            color: color(--dark-blue);
                        }
                    }
                }
            }
        }
    }
}