/*=============Slide=============*/
#slide-show {
    .slider-wrapper {
        position: relative;
        width: 100%;
    }

    .slider {
        display: flex;
        aspect-ratio: 16/4;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;

        img {
            flex: 1 0 100%;
            scroll-snap-align: start;
            object-fit: cover;
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .slider-nav {
        display: flex;
        column-gap: 1rem;
        position: absolute;
        bottom: 1.25rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;

        a {
            width: 0.6rem;
            height: .6rem;
            border-radius: 50%;
            background-color: color(--text-white);
        }

        a.active {
            background-color: color(--primary-color);
        }
    }
}